.logpag{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url(fundi.jpg);
}

.imagba{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff; 
  
  border-top: 40px solid #45a198;
  width: 100%;
  height: 25%;

}

.imaga{
  border:0;
  background: none;
  height: 100%;
  cursor: pointer;
}

#logo {
  height: 148,95px;
  width: 890px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 82%;
  z-index: 5;
  height: 100%;

}

.fundo{
  size: 50%;
  height: 90vh;
  width: 115vw;
  z-index:1;
}