.perfilContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}

.Formy label {
    color: #000;
    margin-right: 20px;
    width: 160px;
}



.Formy{
    flex-direction: row;
    display: flex;
    margin-bottom: 20px;
    
}





