.horario {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.inferior {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color:red
}

.infEsq {
    width: 50%;
    background-color:blue;
}

.infDir {
    width: 50%;
    background-color:purple;
}